@model Tuple<UI.DataService.Account, string, string>

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Balance):
        </dt>

        <dd>
            <a>$</a>@Html.DisplayFor(model => model.Item1.Balance)
        </dd>

        <dt>
            Bank:
        </dt>

        <dd>
            @Model.Item3
        </dd>

        <dt>
            Customer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Customer_Id) - @Model.Item2
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Interest_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Interest_Rate)%
        </dd>

        <dt>
            Type:
        </dt>

        <dd>
            @if (Model.Item1.Type_Number == 1)
            {
                <a>Checking</a>
            }
            else
            {
                <a>Savings</a>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditAccount", new { id = Model.Item1.Id }, new { @role = "button", @class = "btn btn-primary" }) |
    @Html.ActionLink("Delete", "DeleteAccount", new { id = Model.Item1.Id }, new { @role = "button", @class = "btn btn-danger" }) |
    @Html.ActionLink("Back to Home", "Home", new { }, new { @role = "button", @class = "btn btn-outline-primary" })
</p>
