@model IEnumerable<UI.DataService.Transaction>

<h4 class="d-inline-flex position-relative translate-middle-x start-50">Transaction History</h4>
<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Account(s)
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a>$</a>@Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @if(item.Type_Number== 1)
                {
                    @Html.DisplayFor(modelItem => item.To_Account_Id)
                }
            else if(item.Type_Number == 2)
                {
                    @Html.DisplayFor(modelItem => item.From_Account_Id)
            }
            else
            {
                @Html.DisplayFor(modelItem => item.From_Account_Id) <a>-></a> @Html.DisplayFor(modelItem => item.To_Account_Id) 
            }
        </td>
        <td>
            @if (item.Type_Number == 1)
            {
                <a>Deposit</a>
            }
            else if (item.Type_Number == 2)
            {
                <a>Withdrawl</a>
            }
            else
            {
                <a>Transfer</a>
            }
        </td>
        <td>
            @Html.ActionLink("...", "GetOneTransaction", "Maintenance", new {id = item.Id }, new { @role = "button", @class = "btn btn-outline-secondary" })
        </td>
    </tr>
}

</table>
