@model Tuple<UI.DataService.Bank, List<UI.DataService.Customer>, List<UI.DataService.Employee>>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
        $("#transactionType").change(function () {
        let selectedType = $("#transactionType").val(); // Get the selected type value

        // Send an AJAX request to fetch the updated report
            $.ajax({
                url: '@Url.Action("See_Transaction_Report")', // Action URL
                method: 'GET',
                data: { type: selectedType, id: '@Model.Item1.Id' }, // Pass new type and ID
                success: function (data) {
                    // Update the transaction report div with the new content
                    $("#transactionReport").html(data);
                },
                error: function () {
                    alert("Failed to update the transaction report.");
                }
            });
        });
    function RenderDetailsCustomer(Id) {
        $.ajax({
            url: '@Url.Action("View_Customer")',
            method: 'GET',
            data: { id: Id },
            success: function (data) {
                $("#ViewCustomer").html(data);
            },
            error: function () {
                alert("Failed");
            }
        });
    }

    function RenderDetailsEmployee(Id) {
        $.ajax({
        url: '@Url.Action("View_Employee")',
        method: 'GET',
        data: { id: Id },
        success: function (data) {
            $("#ViewEmployee").html(data);
        },
        error: function () {
            alert("Failed");
        }
        });
    };
</script>

}
@{
    ViewBag.Title = "BankData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Bank Data for @Model.Item1.Name</h2>
<h6 class="text-center">
    @Model.Item1.Address @Model.Item1.City, @Model.Item1.State @Model.Item1.Zip
    | <a href="@Model.Item1.Url">@Model.Item1.Url</a> | @Model.Item1.Routing_Number
</h6>
<hr />

<div class="row container">
    <div class=" col">
        <h4 class="d-inline-flex position-relative translate-middle-x start-50">
            Customers
        </h4>
        <br />
        <a class="text-reset fs-6 d-inline-flex position-relative translate-middle-x start-50"
           href="@Url.Action("Make_Customer","Home",new {id = Model.Item1.Id})">Create New</a>
        @Html.Partial("BankInterface/CustomersofBank", Model.Item2)
    </div>
    <div class=" col col-7">
        @Html.Partial("BankInterface/EmployeesofBank", Model.Item3)
    </div>
</div>
<div>
    <!-- Dropdown or input to select the type -->
    <label for="transactionType">Select Transaction Type:</label>
    <select id="transactionType" class="form-select">
        <option>Please select one</option>
        <option value="1">Deposits</option>
        <option value="2">Withdrawls</option>
        <option value="3">Transfers</option>
    </select>
</div>
<br />

<div id="transactionReport" class="overflow-auto" style="height: 300px">

</div>
