@model IEnumerable<UI.DataService.Customer>



<h4 class="d-inline-flex position-relative translate-middle-x start-50">
    Customers   
</h4>
<br />
<a class="text-reset fs-6 d-inline-flex position-relative translate-middle-x start-50" 
   href="@Url.Action("CreateCustomer","Maintenance",new { })">Create New</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name) @Html.DisplayFor(modelItem => item.Last_Name)
            </td>

            <td>
             <a class="btn btn-outline-secondary details_button" data-bs-toggle="offcanvas" href="#ViewCustomer" role="button" 
                aria-controls="ViewCustomer" onclick="RenderDetailsCustomer(@item.Id)">...</a>
</td>

</tr>
    }
    

</table>
<div class="offcanvas offcanvas-start ps-1" tabindex="-1" id="ViewCustomer">

</div>
